# copy to .env and edit
INFLUXDB_TOKEN=change-to-random-tocken
INFLUXDB_ORG=occ
INFLUXDB_BUCKET=occ
INFLUXDB_USERNAME=occ
INFLUXDB_PASSWORD=change-to-influx-password
GRAFANA_USER=admin
GRAFANA_PASSWORD=change-to-grafana-password
